# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_KAFKA_LEFT

config ZMK_KEYBOARD_NAME
    default "KAFKA"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KAFKA_LEFT || SHIELD_KAFKA_RIGHT

config ZMK_SPLIT
    default y

endif
