# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

config SHIELD_KAFKA_LEFT
    def_bool $(shields_list_contains,kafka_left)

config SHIELD_KAFKA_RIGHT
    def_bool $(shields_list_contains,kafka_right)

